.row-contact{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}
@media screen and (max-width:1200px) {
    .row-contact{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:1000px) {
    .row-contact{
        flex-direction: column;
    }
}