@font-face {
  font-family: Rosewood;
  src: url("../fonts/RosewoodStd-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Bertoni";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Bertoni\ Title\ W01\ Regular.ttf") format("woff2");
}

@font-face {
  font-family: "HWT-Artz";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HWT\ Artz\ W00\ Regular.ttf") format("woff2");
}

body {
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
  min-width: 100vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

.display-sm {
  display: none;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/

.header {
  background: url("../img/bnbnbn.jpg") no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  padding: 20px 0;
  transition: all 0.3s;
}

.navbar-brand {
  font-size: 28px;
  font-family: "Bertoni";
  display: inline;
  margin-bottom: 10px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #b08801;
  color:#fdc501;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color:#fdc501;
  background-color:transparent;
}

.button {
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-weight: 400;
}

.button.yellow-blue {
  background-color: #eab543;
  color: #30336b;
}

.button.yellow-blue:hover {
  background-color: #30336b;
  color: #eab543;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background: rgba(48, 51, 107, 0.8);
  }
}

.top-nav-collapse {
  padding: 0;
  background: rgba(48, 51, 107, 1);
}

.square-shadow {
  background-color: RGBA(0, 0, 0, 0.3);
  width: fit-content;
  box-shadow: 10px 10px #eab543;
  display: inline-block;
}
.square-box {
  background-color: #30336b;
  width: fit-content;
  box-shadow: 10px 10px RGBA(0, 0, 0, 0.3);
  display: inline-block;
  padding: 8px 8px 8px 8px;
  min-height: 400px;
  margin-bottom: 50px;
}


.square-shadow-left {
  background-color: #30336b;
  width: fit-content;
  box-shadow: 10px 10px RGBA(0, 0, 0, 0.3);
  display: inline-block;
  padding-left: 200px;
  padding-right: 10px;
  text-align: right;
  font-family: "HWT-Artz";
  color: #f2f3eb;
  font-size: 70px;
}

.navbar-border {
}

.banner-text {
  /* border-left: 5px solid #BE2525; */
  padding: 15px 40px;
  color: #eab543;
  margin-top: 170px;
}

.banner-text h2 {
  font-size: 60px;
  font-weight: 00;
  /* font-family: 'Questrial', sans-serif; */
  font-family: "HWT-Artz";
}

.banner-text h3 {
  font-size: 40px;
  font-weight: 300;
  font-family: "HWT-Artz", serif;
}

.banner-text h2 span {
  font-family: "Satisfy", cursive;
}

.title-box {
  padding-left: 250px;
  text-align: right;
  margin-left: -20px;
}

.overlay-detail {
  /* margin: 0 auto; */
}

.border-red {
  border-color: red !important;
  border-style: solid !important;
  border-width: 3px !important;
}
.overlay-detail a i {
  text-align: center;
  position: absolute;
  bottom: -140px;
  font-size: 24px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 50%;
}

.deco {
  font-family: "Satisfy", cursive;
}

#about {
  background-color: rgba(246, 229, 141, 1);
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: -3px;
}

/* WhyCA section */

#whyca {
  background-color: #fea47f;
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: -3px;
}

#whyca h3 {
  color: #eab543;
  font-family: "HWT-Artz";
}


#whyca .square-box {
  max-width: 300px;
}

#whyca h1 {
  color: #eab543;
}

#whyca p {
  color: #fea47f;
}



/* Responsibilities  */

#responsibilities {
  background-color: #55E6C1;
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: -3px;
}

#responsibilities h3 {
  color: #eab543;
  font-family: "HWT-Artz";
}

#responsibilities h1 {
  color: #eab543;
}

#responsibilities p {
  color: #55E6C1;
}

#responsibilities .square-box {
  min-height: 300px;
}

/* Contacts */
#contact {
  background-color: #ff7979;
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: -3px;
}

#contact h4{
  color: #eab543;
  letter-spacing: 10px;
}
#contact h4 a{
  color: #eab543;
}
#contact h4 a :hover{
  color: #ff7979;
}

#contact h3 {
  color: #ff7979;
  font-family: "HWT-Artz";
}

#contact h2 {
  color: #eab543;
  font-family: "HWT-Artz";
}

#contact h1 {
  color: #eab543;
}

#contact .square-box {
  min-height: 200px;
  min-width: 260px;
}

#contact p {
  color: #fea47f;
}

/* Associates */
#associates {
  background-color: #fea47f;
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: -3px;
}
#associates .t-row {
  min-height: 150px !important;
}
#associates h2 {
  color: #30336b;
  font-family: "HWT-Artz";
  font-size: 40px;
  text-decoration: underline;
}
#associates .col-md-4 {
  margin-bottom: 20px; 
}

#associates .associates-wrapper {
  min-height: 150px !important;
  vertical-align: top;
  position: relative;
  margin: 15px;
  background-color: white;
  box-shadow: 10px 10px RGBA(255, 255, 255, 0.3);
}

#associates img {
  max-width: 60%;
  max-height: 80%;
  vertical-align: middle;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*footer*/

footer {
  background-color: #130f40;
  color: #f2f3eb;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer h3 {
  color: #eab543;
  font-family: "Bertoni";
  font-weight: bold;
}

footer a{
  color: #eab543;
}

.section-padding {
  padding: 60px 0px;
}

.title {
  font-size: 24px;
  margin-bottom: 50px;
}

.icon-image {
  max-width: 45px;
  float: left;
  margin-bottom: 100px;
  position: relative;
  top: -4px;
  margin-right: 3px;
}

.about-text {
  color: #30336b;
  font-size: 20px;
}

.padding-right-zero {
  padding-right: 0px !important;
}

.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle:focus {
  position: relative;
  border-width: 0px;
}

.navbar-nav > li > a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar-brand {
  margin-top: 9px;
}


/***********************************
************************************
Responsive media queries
************************************
***********************************/

@media (min-width: 551px) and (max-width: 980px) {
  .title-text {
    margin-bottom: 15px;
  }
}

@media (min-width: 100px) and (max-width: 550px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-brand {
    margin-top: 5px;
  }
  .navbar-toggle {
    margin-top: 13px;
  }
  html {
    overflow-x: hidden;
  }
  .carousel-info {
    margin-bottom: 30px;
  }
  .type--fine-print {
    text-align: center;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .title-text {
    margin-bottom: 15px;
  }
  .title-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: unset;
    padding-right: unset;
    margin-top: 0px;
    min-width: 100vw;
    padding-top: 0px;
  }
  .title-box h3 {
    padding-top: 0px;
    margin-top: 0px;
  }
  .square-shadow {
    background-color: RGBA(0, 0, 0, 0);
    width: fit-content;
    box-shadow: 0px 0px #eab543;
    display: inline-block;
  }

  .header {
    background-color: #30336b;
  }
  .display-sm {
    display: inline-block;
  }
  .banner-img-cont {
    margin-top: 100px;
    margin-bottom: 0px;
    min-width: 100vw;
    text-align: center;
  }
  .banner-img {
    max-width: 200px;
  }
  .about-text {
    text-align: center;
    font-size: 15px;
  }
  .square-shadow-left {
    padding-left: 70px;
  }

  .square-box {
    padding: 8px 8px 8px 8px;
    min-height: 300px;
  }
}

