@font-face {
  font-family: Rosewood;
  src: url("../fonts/RosewoodStd-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Bertoni Title";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Bertoni-title.woff2") format("woff2");
}

@font-face {
  font-family: "Bertoni";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Bertoni\ Title\ W01\ Regular.ttf") format("woff2");
}

@font-face {
  font-family: "HWT-Artz";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HWT\ Artz\ W00\ Regular.ttf") format("woff2");
}

body {
  background-color: #000000;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
  min-width: 100vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

.display-sm {
  display: none;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/

.header {
  background: url("../img/bnbnbn.jpg") no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  padding: 20px 0;
  transition: all 0.3s;
}

.navbar-brand {
  font-size: 28px;
  font-family: "Bertoni";
  display: inline;
  margin-bottom: 10px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fffde0;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #fffde0;
  background-color: transparent;
}

.button {
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-weight: 400;
}

.button.yellow-blue {
  background-color: #eab543;
  color: #30336b;
}

.button.yellow-blue:hover {
  background-color: #30336b;
  color: #eab543;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background: rgba(48, 51, 107, 0.8);
  }
}

.top-nav-collapse {
  padding: 0;
  background: rgba(48, 51, 107, 1);
}

.square-shadow {
  background-color: RGBA(0, 0, 0, 0.3);
  width: fit-content;
  box-shadow: 10px 10px #eab543;
  display: inline-block;
}
.square-box {
  background-color: #30336b;
  width: fit-content;
  box-shadow: 10px 10px RGBA(0, 0, 0, 0.3);
  display: inline-block;
  padding: 8px 8px 8px 8px;
  min-height: 400px;
}


.square-shadow-left {
  background-color: #30336b;
  width: fit-content;
  box-shadow: 10px 10px RGBA(0, 0, 0, 0.3);
  display: inline-block;
  padding-left: 200px;
  padding-right: 10px;
  text-align: right;
  font-family: "HWT-Artz";
  color: #f2f3eb;
  font-size: 70px;
}

.navbar-border {
}

.banner-text {
  /* border-left: 5px solid #BE2525; */
  padding: 15px 40px;
  color: #eab543;
  margin-top: 170px;
}

.banner-text h2 {
  font-size: 60px;
  font-weight: 00;
  /* font-family: 'Questrial', sans-serif; */
  font-family: "HWT-Artz";
}

.banner-text h3 {
  font-size: 40px;
  font-weight: 300;
  font-family: "HWT-Artz", serif;
}

.banner-text h2 span {
  font-family: "Satisfy", cursive;
}

.title-box {
  padding-left: 250px;
  text-align: right;
  margin-left: -20px;
}

.overlay-detail {
  /* margin: 0 auto; */
}

.border-red {
  border-color: red !important;
  border-style: solid !important;
  border-width: 3px !important;
}
.overlay-detail a i {
  text-align: center;
  position: absolute;
  bottom: -140px;
  font-size: 24px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 50%;
}

.deco {
  font-family: "Satisfy", cursive;
}

#about {
  background-color: rgba(246, 229, 141, 1);
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: -3px;
}

/* WhyCA section */

#whyca {
  background-color: #fea47f;
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: -3px;
}

#whyca h3 {
  color: #eab543;
  font-family: "HWT-Artz";
}

#whyca h1 {
  color: #eab543;
}

#whyca p {
  color: #fea47f;
}

/* Responsibilities  */

#responsibilities {
  background-color: #55E6C1;
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: -3px;
}

#responsibilities h3 {
  color: #eab543;
  font-family: "HWT-Artz";
}

#responsibilities h1 {
  color: #eab543;
}

#responsibilities p {
  color: #55E6C1;
}

#responsibilities .square-box {
  min-height: 300px;
}

.section-padding {
  padding: 60px 0px;
}

.title {
  font-size: 24px;
  margin-bottom: 50px;
}

.icon-image {
  max-width: 45px;
  float: left;
  margin-bottom: 100px;
  position: relative;
  top: -4px;
  margin-right: 3px;
}

.about-text {
  color: #30336b;
  font-size: 20px;
}

.padding-right-zero {
  padding-right: 0px !important;
}

.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle:focus {
  position: relative;
  border-width: 0px;
}

.navbar-nav > li > a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar-brand {
  margin-top: 9px;
}


/***********************************
************************************
Responsive media queries
************************************
***********************************/

@media (min-width: 551px) and (max-width: 980px) {
  .title-text {
    margin-bottom: 15px;
  }
}

@media (min-width: 100px) and (max-width: 550px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-brand {
    margin-top: 5px;
  }
  .navbar-toggle {
    margin-top: 13px;
  }
  html {
    overflow-x: hidden;
  }
  .carousel-info {
    margin-bottom: 30px;
  }
  .type--fine-print {
    text-align: center;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .title-text {
    margin-bottom: 15px;
  }
  .title-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: unset;
    padding-right: unset;
    margin-top: 0px;
    min-width: 100vw;
    padding-top: 0px;
  }
  .title-box h3 {
    padding-top: 0px;
    margin-top: 0px;
  }
  .square-shadow {
    background-color: RGBA(0, 0, 0, 0);
    width: fit-content;
    box-shadow: 0px 0px #eab543;
    display: inline-block;
  }

  .header {
    background-color: #30336b;
  }
  .display-sm {
    display: inline-block;
  }
  .banner-img-cont {
    margin-top: 100px;
    margin-bottom: 0px;
    min-width: 100vw;
    text-align: center;
  }
  .banner-img {
    max-width: 200px;
  }
  .about-text {
    text-align: center;
    font-size: 15px;
  }
  .square-shadow-left {
    padding-left: 70px;
  }

  .square-box {
    margin-top: 50px;
    padding: 8px 8px 8px 8px;
    min-height: 300px;
  }
}
/*Contact Us*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
    width:auto !important;
    text-align: center;
  }
}
/* table */
table.blueTable tr:hover::after{
  background-color: #a1510f;
}

table.blueTable {
  border: 0px solid #A4A4A1;
  background-color: #c57636;
  border-radius: 8px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 0px solid rgb(141, 56, 56);
  padding: 8px 10px;
}
table.blueTable tbody td {
  font-size: 16px;
}
table.blueTable tr:nth-child(even) {
  background: #ca7f42;
}

table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
}
table.blueTable thead th {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
/* table */

/* Contact Us Formatting Ends*/

/***********************************
************************************
Responsive media queries
************************************
***********************************/
/* ------------------------------------------------------------------- 
 * responsive:
 * footer
 * ------------------------------------------------------------------- */
 @media only screen and (max-width: 768px) {
  #go-top {
    bottom: 0;
    right: 0;
  }
  .footer-main {
    text-align: center;
  }
  .footer-main .row {
    max-width: 480px;
  }
  .footer-main [class*="col-"] {
    margin-bottom: 3.6rem;
  }

  footer h4.h05 {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }

  footer h4.h05::after {
    left: 50%;
    margin-left: -50px;
  }
}
@media only screen and (max-width: 600px) {
  .footer-bottom {
    padding-bottom: 0.6rem;
    width: 50%;
  }
  .footer-bottom .copyright span {
    display: block;
  }
  .footer-bottom .copyright span::after {
    display: none;
  }
}

@media (min-width: 100px) and (max-width: 550px) {
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-brand {
    margin-top: 0px;
  }
  .carousel-info {
    margin-bottom: 30px;
  }
  .type--fine-print {
    text-align: center;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .social-list {
    margin-bottom: 15px;
  }
  .banner-text h2, .banner-text p {
    font-size: 30px;
  }
  .title-text {
    margin-bottom: 15px;
  }
  .banner-text {

  }
  .title-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: unset;
    padding-right: unset;
    margin-top: 0px;
    min-width: 100vw;
    padding-top: 0px;
  }
  .title-box h3 {
    padding-top: 0px;
    margin-top: 0px;
  }
  .square-shadow {
    background-color: RGBA(0, 0, 0, 0);
    width: fit-content;
    box-shadow: 0px 0px #EAB543;
    display: inline-block;
  }

  .header {
    background-color: #30336b;
  }
  .display-sm {
    display: inline-block;
  }
  .banner-img-cont {
    margin-top: 100px;
    margin-bottom: 0px;
    min-width: 100vw;
    text-align: center;
  }
  .banner-img {
    max-width: 200px;
  }
  .about-text {
    text-align: center;
    font-size: 15px;
  }
  .square-shadow-left{
    padding-left: 70px;
  }

  .square-box {
    margin-top: 50px;
    padding: 8px 8px 8px 8px;
    min-height: 300px;
  }
  footer {

    width: 100%;
    height: 100%;
  }
}
p.lead {
font-family: "montserrat-regular", sans-serif;
font-size: 2rem;
line-height: 1.8;
color: #4f4f4f;
margin-bottom: 3.6rem;
}
@media only screen and (max-width: 768px) {
p.lead {
font-size: 1.8rem;
}
}
#contact {
background-color: #d16e1d;
background-image: url(../images/contact-bg.jpg);
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
padding: 12rem 0 12rem;
position: relative;
}
#contact .overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0.75;
}
/* ===================================================================
*  17. footer - (_layout.scss)
*
* ------------------------------------------------------------------- */

footer {
margin: 0 0 5.4rem 0;
padding: 0;
font-size: 1.5rem;
color: rgb(206, 197, 197);
width: 100%;
height: 100%;
}
.footer-bottom {
margin-top: 3rem;
text-align: center;
font-family: "montserrat-regular", sans-serif;
font-size: 1.4rem;
width: 100%;
height: 100%;
}
footer a,
footer a:visited {
color: #ceb545;
}

footer a:hover,
footer a:focus {
color: #dacdba;
}

footer .row {
max-width: 1024px;
width: 100%;
height: 100%;
}

footer h4.h05 {
color: #dfcaca;
position: relative;
padding-bottom: 0.2rem;
margin-bottom: 3.6rem;
width: 100%;
height: 100%;
}
h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
font-family: "montserrat-bold", sans-serif;
font-style: normal;
text-rendering: optimizeLegibility;
}

footer h4.h05::after {
display: block;
content: "";
width: 100px;
height: 0px;
background-color: rgba(255, 255, 255, 0.1);
position: absolute;
bottom: 0;
left: 0;
}
/*

/* footer main
* --------------------------------- */
.footer-main {
padding-top: 4.6rem;
padding-bottom: 3rem;
width: 100%;
height: 100%;
}
.footer-main ul {
font-size: 1.5rem;
margin-left: 0;
width: 100%;
height: 100%;
}
.footer-main ul li {
list-style: none;
padding-left: 0;
width: 100%;
height: 100%;
}
.footer-main ul a,
.footer-main ul a:visited {
color: rgba(236, 229, 229, 0.4);
}
.footer-main ul a:hover,
.footer-main ul a:focus {
color: #6159d4;
}
.footer-main .subscribe-form {
position: relative;
}
.footer-main #mc-form {
margin: 0;
padding: 0;
}
.footer-main #mc-form input[type="email"] {
height: 6rem;
padding: 1.5rem 8rem 1.5rem 2rem;
margin-bottom: 1.5rem;
width: 100%;
background-color: rgba(175, 166, 166, 0.9);
}
.footer-main #mc-form button:hover {
background-color: #f89e0f;
}
.footer-main #mc-form button i {
font-size: 2.6rem;
line-height: 6rem;
margin: 0;
position: relative;
left: 0.2rem;
}
.footer-main #mc-form label {
color: #f9a828;
font-family: "montserrat-regular", sans-serif;
}

/* footer bottom
* --------------------------------- */
.footer-bottom {
margin-top: 18rem;
text-align: center;
font-family: "montserrat-bold", sans-serif;
padding-left: 15rem;
font-size: 1.4rem;
}
.footer-bottom .copyright span {
display: inline-block;
}
.footer-bottom .copyright span::after {
content: "|";
display: inline-block;
padding: 0 1rem 0 1.2rem;
color: rgba(206, 189, 189, 0.1);
}
.footer-bottom .copyright span:last-child::after {
display: none;
}

#go-top {
position: fixed;
bottom: 42px;
right: 30px;
z-index: 700;
display: none;
}
#go-top a {
text-decoration: none;
border: 0 none;
display: block;
height: 63px;
width: 60px;
line-height: 63px;
text-align: center;
background-color: #000000;
color: rgb(207, 182, 182);
text-align: center;
text-transform: uppercase;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
#go-top a i {
font-size: 1.7rem;
line-height: inherit;
}
#go-top a:visited {
background: #000000;
color: #888;
}
#go-top a:hover,
#go-top a:focus {
background: #dbd6d6;
color: #ffffff;
}

#messenger {
position: fixed;
bottom: 42px;
left: 30px;
z-index: 700;
}
#messenger a {
text-decoration: none;
border: 0 none;
display: block;
height: 63px;
width: 60px;
line-height: 63px;
text-align: center;
/*background-color: #000000;
*color: #888;*/
text-align: center;
text-transform: uppercase;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
#messenger a i {
font-size: 1.7rem;
line-height: inherit;
}
#messenger a:hover,
#messenger a:focus {
background: #000000;
color: #ffffff;
}
/* ------------------------------------------------------------------- 
* responsive:
* footer
* ------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
#go-top {
bottom: 0;
right: 0;
}

.footer-main {
text-align: center;
}
.footer-main .row {
max-width: 480px;
}
.footer-main [class*="col-"] {
margin-bottom: 3.6rem;
}

footer h4.h05 {
font-family: "montserrat-bold", sans-serif;
padding-bottom: 3rem;
margin-bottom: 3rem;
}

footer h4.h05::after {
font-family: "montserrat-bold", sans-serif;
left: 50%;
margin-left: -50px;
}
}

@media only screen and (max-width: 600px) {
.footer-bottom {
padding-bottom: 0.6rem;
}
.footer-bottom .copyright span {
display: block;
}
.footer-bottom .copyright span::after {
display: none;
}
}

#fixedbutton {
position: fixed;
bottom: 0px;
left: 0px;
}

#but {
cursor: pointer;
margin-top: 10px;
font-size: 1.8rem;
color: white;
font-family: "montserrat-bold", sans-serif;
text-transform: uppercase;
letter-spacing: 0.3rem;
visibility: visible;
opacity: 100%;
transition-property: all;
transition-timing-function: linear;
transition-duration: 0.3s;
}

#butbor {
color: rgb(214, 195, 195);
font-size: xx-large;
}
div{
display: block;
}
#go-top a {
text-decoration: none;
border: 0 none;
display: block;
height: 63px;
width: 60px;
line-height: 63px;
text-align: center;
background-color: #000000;
color: #888;
text-align: center;
text-transform: uppercase;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}


