@font-face {
  font-family: Rosewood;
  src: url("../fonts/RosewoodStd-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Bertoni Title";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Bertoni-title.woff2") format("woff2");
}

@font-face {
  font-family: "Bertoni";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Bertoni\ Title\ W01\ Regular.ttf") format("woff2");
}

@font-face {
  font-family: "HWT-Artz";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HWT\ Artz\ W00\ Regular.ttf") format("woff2");
}

body {
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

.display-sm {
  display: none;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/

.header {
  background: url("../img/bnbnbn.jpg") no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  padding: 20px 0;
  transition: all 0.3s;
}

.navbar-brand {
  font-size: 28px;
  font-family: "Bertoni";
  display: inline;
  margin-bottom: 10px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fffde0;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #fffde0;
  background-color: transparent;
}

.button {
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-weight: 400;
}

.button.yellow-blue {
  background-color: #eab543;
  color: #30336b;
}

.button.yellow-blue:hover {
  background-color: #30336b;
  color: #eab543;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background: rgba(48, 51, 107, 0.8);
  }
}

.top-nav-collapse {
  padding: 0;
  background: rgba(48, 51, 107, 1);
}

.square-shadow {
  background-color: RGBA(0, 0, 0, 0.3);
  width: fit-content;
  box-shadow: 10px 10px #eab543;
  display: inline-block;
}
.square-box {
  background-color: #30336b;
  width: fit-content;
  box-shadow: 10px 10px RGBA(0, 0, 0, 0.3);
  display: inline-block;
  padding: 8px 8px 8px 8px;
  min-height: 400px;
}

#whyca h3 {
  color: #eab543;
  font-family: "HWT-Artz";
}

#whyca h1 {
  color: #eab543;
}

#whyca p {
  color: #fea47f;
}

.square-shadow-left {
  background-color: #30336b;
  width: fit-content;
  box-shadow: 10px 10px RGBA(0, 0, 0, 0.3);
  display: inline-block;
  padding-left: 200px;
  padding-right: 10px;
  text-align: right;
  font-family: "HWT-Artz";
  color: #f2f3eb;
  font-size: 70px;
}

.navbar-border {
}

.banner-text {
  /* border-left: 5px solid #BE2525; */
  padding: 15px 40px;
  color: #eab543;
  margin-top: 170px;
}

.banner-text h2 {
  font-size: 60px;
  font-weight: 00;
  /* font-family: 'Questrial', sans-serif; */
  font-family: "HWT-Artz";
}

.banner-text h3 {
  font-size: 40px;
  font-weight: 300;
  font-family: "HWT-Artz", serif;
}

.banner-text h2 span {
  font-family: "Satisfy", cursive;
}

.title-box {
  padding-left: 250px;
  text-align: right;
  margin-left: -20px;
}

.overlay-detail {
  /* margin: 0 auto; */
}

.border-red {
  border-color: red !important;
  border-style: solid !important;
  border-width: 3px !important;
}
.overlay-detail a i {
  text-align: center;
  position: absolute;
  bottom: -140px;
  font-size: 24px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 50%;
}

.deco {
  font-family: "Satisfy", cursive;
}

#about {
  background-color: rgba(246, 229, 141, 1);
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: -3px;
}

#whyca {
  background-color: #fea47f;
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: -3px;
}
.section-padding {
  padding: 60px 0px;
}

.title {
  font-size: 24px;
  margin-bottom: 50px;
}

.icon-image {
  max-width: 45px;
  float: left;
  margin-bottom: 100px;
  position: relative;
  top: -4px;
  margin-right: 3px;
}

.about-text {
  color: #30336b;
  font-size: 20px;
}

.abt-list li {
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 400;
}

#portfolio {
  background-color: #f0f1e9;
}

.grid-padding {
  padding: 0 8px;
}

.grid-padding img {
  margin-bottom: 15px;
}

.padding-right-zero {
  padding-right: 0px !important;
}

#myGrid {
  margin-top: 50px;
}

.square-box-left {
}

.test-sec blockquote {
  background: #eee;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 15px;
  position: relative;
}

.test-sec blockquote::after {
  content: "";
  position: absolute;
  bottom: -14px;
  margin-left: 10px;
  border-top: 14px solid #eee;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid RGBA(0, 0, 0, 0.18);
}

.test-sec .carousel-info span {
  display: block;
}

.test-sec span.testimonials-name {
  color: #30336b;
  font-weight: 600;
  margin: 16px 0 5px;
}

#contact {
  width: 100%;
  background-color: RGBA(8, 7, 7, 0.92);
}

#contact .btn-primary {
  background: #be2525;
  border: 1px solid #be2525;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  background: #fff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  background: #fff;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}

footer {
  padding: 40px 0;
  background: #f2f3eb;
}

.footer a {
  color: #be2525;
}

.footer__navigation li,
.social-list li {
  display: inline-block;
}

.contact-sec h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  padding: 15px 0px;
}

.footer__navigation li a {
  display: inline-block;
  color: #767676;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  font-size: 1.2em;
  line-height: 1.625em;
  margin-top: 0;
  margin-bottom: 1.625em;
  padding-right: 10px;
}

.contact-sec p {
  color: #fff;
  font-size: 18px;
  padding: 16px 0px 24px;
}

.contact-sec i {
  padding-right: 15px;
}

.contact-sec a {
  color: #fff;
  background-color: RGBA(174, 142, 142, 0.7);
  display: inline-block;
  padding: 16px 34px;
  font-size: 18px;
  transition: all 0.5s ease-in 0s;
}

.carousel-info,
blockquote {
  float: left;
}

.social-list li {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  opacity: 0.5;
  display: inline-block;
  margin: 0;
}

.social-list li a {
  font-size: 28px;
  margin-right: 15px;
}

.type-underline,
.type-underline:hover {
  color: #30336b;
}

.footer__lower {
  margin-top: 3.25em;
}

.type--fine-print {
  color: #30336b;
}

.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle:focus {
  position: relative;
  border-width: 0px;
}

.navbar-nav > li > a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar-brand {
  margin-top: 9px;
}

.grid-item {
  width: 200px;
}

.grid-item--width2 {
  width: 400px;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/

@media (min-width: 551px) and (max-width: 980px) {
  .title-text {
    margin-bottom: 15px;
  }
}

@media (min-width: 100px) and (max-width: 550px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-brand {
    margin-top: 0px;
  }
  .carousel-info {
    margin-bottom: 30px;
  }
  .type--fine-print {
    text-align: center;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .social-list {
    margin-bottom: 15px;
  }
  .banner-text h2,
  .banner-text p {
    font-size: 30px;
  }
  .title-text {
    margin-bottom: 15px;
  }
  .banner-text {
  }
  .title-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: unset;
    padding-right: unset;
    margin-top: 0px;
    min-width: 100vw;
    padding-top: 0px;
  }
  .title-box h3 {
    padding-top: 0px;
    margin-top: 0px;
  }
  .square-shadow {
    background-color: RGBA(0, 0, 0, 0);
    width: fit-content;
    box-shadow: 0px 0px #eab543;
    display: inline-block;
  }

  .header {
    background-color: #30336b;
  }
  .display-sm {
    display: inline-block;
  }
  .banner-img-cont {
    margin-top: 100px;
    margin-bottom: 0px;
    min-width: 100vw;
    text-align: center;
  }
  .banner-img {
    max-width: 200px;
  }
  .about-text {
    text-align: center;
    font-size: 15px;
  }
  .square-shadow-left {
    padding-left: 70px;
  }

  .square-box {
    margin-top: 50px;
    padding: 8px 8px 8px 8px;
    min-height: 300px;
  }
}

/* resposibilities */

#responsibilities h3 {
  color: #4834d4;
  font-family: "HWT-Artz";
}

#responsibilities h1 {
  color: #4834d4;
}

#responsibilities p {
  color: #30336b;
}

#responsibilities .square-box {
  background-color: #ffd2e8;
  width: fit-content;
  box-shadow: 10px 10px RGBA(0, 0, 0, 0.3);
  display: inline-block;
  padding: 8px 8px 8px 8px;
  min-height: 300px;
}

#responsibilities {
  background-color: #90ee90;
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: -3px;
}

#responsibilities .square-shadow-left {
  background-color: #ffd2e8;
}
